:root {
  --color-bg: #fafafa;
  --color-bg-btn: #9f281d;

  --color-ft-white:#fafafa;
  --color-ft-black:#222;

  --color-ft-h1: #888;
  --color-ft-nav-select: #fff;
  --color-bg-nav-select: #9f281d;
  --color-ft-nav: #666;

  --color-ft-main: #fff;

  --color-ft-footer: #666;
  --color-bg-form-input: rgba(0, 0, 0, 0.04);
  --color-ft-form-submit: #fff;
  --color-bg-form-submit: #165783;

  --color-bg-arrow-btn: #9f281d;

  --color-success:#2ecc71;
  --color-error: #e31743;
}
/* Header */
header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: var(--color-bg);
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.16),
    0 0.2rem 0.4rem rgba(0, 0, 0, 0.23);
}
header h1 {
  display: flex;
  align-items: center;
  padding: 1rem;
  font-weight: 400;
  color: var(--color-ft-h1);
}
header h1 img {
  padding: 0 0.4rem;
}

/* Nav Bar */
header nav ul {
  display: flex;
  height: 100%;
}
header nav ul li a,
.clickLight {
  display: block;
  padding: 2rem 4rem;
  text-transform: uppercase;
  color: var(--color-ft-nav);
}
header nav ul li a:hover,
.clickDark {
  color: var(--color-ft-nav-select);
  background-color: var(--color-bg-nav-select);
}

/* Main */
main section.sign-in-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding: 8rem;
  background: url("../image/home-hero.jpg") center/cover;
}
main section h2,
main section a {
  max-width: 40vw;
}
main section h2 {
  font-size: 6.5rem;
  font-weight: lighter;
  line-height: 8rem;
  color: var(--color-ft-main);
}
main section a {
  margin-top: 2rem;
  padding: 2.2rem 4rem;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-ft-main);
  background-color: var(--color-bg-btn);
}

/* Login Page*/
.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.login-page h2 {
  color: var(--color-ft-black);
  margin: 8rem 0 2rem;
  padding: 1rem 2rem;
  font-size: 3rem;
  text-align: center;
  border-radius: 0.4rem;
}
.login-page h2.success {
  background-color: var(--color-success);
  color: var(--color-ft-black);
  font-size: 3.2rem;
}

.login-page h2.error {
  background-color: var(--color-error);
  color: var(--color-ft-black);
  font-size: 2.6rem;
}

/* Footer */
footer h2,
footer p {
  max-width: 20%;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-bg);
}
footer h2,
footer p {
  padding: 2rem 0;
  text-align: center;
  color: var(--color-ft-footer);
}

footer h2 {
  font-size: 3rem;
  font-weight: lighter;
}

footer p {
  font-size: 1.4rem;
}
footer p.warning {
  max-width: 32rem;
  margin: 0 auto 2rem;
  font-weight: bolder;
  background-color: var(--color-bg);
  color: #fafafa;
}
footer p.appear {
  background-color: var(--color-error);
}
form {
  width: 40%;
  margin: 0 auto;
}
form fieldset {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 1rem;
  border-radius: 0.4rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
form fieldset legend {
  font-size: 2.4rem;
  padding: 0 1rem;
  color: var(--color-ft-footer);
}
form fieldset label {
  padding: 0.4rem 0;
  font-size: 1.4rem;
}

form fieldset input {
  padding: 1rem 0.6rem;
  background-color: var(--color-bg-form-input);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
form fieldset input:focus {
  outline: none;
  box-shadow: 0 0 1rem rgb(150, 0, 0);
}
form fieldset input:last-child {
  cursor: pointer;
  width: 24rem;
  margin: 1rem auto 0;
  padding: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--color-bg-form-submit);
  color: var(--color-ft-form-submit);
  font-size: 1.4rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
form fieldset input:last-child:active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.login-page form input:last-child {
  width: 32rem;
}
/* Arrow btn */
footer > a {
  outline: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  height: 6rem;
  width: 6rem;
  padding: 1.7rem 1.3rem 0;
  background-color: var(--color-bg-arrow-btn);
  border-radius: 100%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

footer > a:active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

footer > a img {
  color: var(--color-ft-main);
}
